---
layout: page
title: Publications
---

<h1>{{ page.title }}</h1>

<div class="publications">
  {% for publication in site.data.publications %}
  <div class="publication">
    <img src="{{ site.baseurl }}/images/{{ publication.image }}" alt="{{ publication.title }}"/>
    <h2>{{ publication.title }}</h2>
    <p>{{ publication.authors }}<br>{{ publication.journal }}, {{ publication.year }}{% if publication.volume %}, Volume: {{ publication.volume }}{% endif %}</p>
    <a href="{{ publication.paper_url }}" target="_blank">View Publication</a>
  </div>
  {% endfor %}
</div>
