---
layout: page
title: Publications
---

<h1>{{ page.title }}</h1>

<div class="publications">
  {% for publication in site.data.publications %}
  <div class="publication">
    <a href="{{ publication.arxiv_link }}" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/{{ publication.image }}" alt="{{ publication.title }}"/>
    </a>
    <h2>{{ publication.title }}</h2>
    <p>{{ publication.authors }}<br>{{ publication.comment }}</p>
    <a href="{{ publication.arxiv_link }}" target="_blank">arxiv</a>
    {% if publication.code_link %}
    <a href="{{ publication.code_link }}" target="_blank">code</a>
    {% endif %}
    {% if publication.blog_link %}
    <a href="{{ publication.blog_link }}" target="_blank">blog</a>
    {% endif %}
    <!-- Additional links can go here -->
  </div>
  {% endfor %}
</div>
